.footer__section-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__section-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 320px) {
  .footer__wrapper {
    padding: 80px 24px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .footer__section-first{
    gap: 35px;
    align-items: center;
    .footer__logo {
      width: 157px;
      height: auto;
    }
    .footer__text{
      color: rgb(187,187,187);
      text-align: center;
      width: auto;
    }
    .footer__social-icons img {
      width: 30px;
      height: 30px;
    }
    .footer__social-icons {
      display: flex;
      flex-direction: row;
      gap: 15px;
      justify-content: center;
    }
  }
  .footer__section-second{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 40px;
    .nav__title, .collections__title{
      font-size: 10px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .nav__list, .collections__list{
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .nav__list li, .collections__list li{
      margin-bottom: 16px;
      font-weight: 600;
      color:rgb(187, 187, 187);
    }
    .nav__block, .collections__block{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .nav__list a, .collections__list a{
      text-decoration: none;
      color: inherit;
  }
  .nav__list a:hover, .collections__list a:hover{
    color:#e7903b;
  }
}
  
  

  

  

  
  
  

}