@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #fff;
    --accent-color: #d78c43;
    --body-background-color: #0d0d0d;
    scroll-behavior: smooth;
    font-family: "Manrope", sans-serif;
}
body{
    background-color: var(--body-background-color);
    color: var(--text-color);
    font-size: 16px;
}
img{
    width: 100%;
    display: block;
}
h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-size: 10px;
    color: #d78c43; 
}