.features {
  display: flex;
  flex-direction: column;
}

.features__image-container,
.features__content {
  width: 100%;
}

.features__image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 22rem;
  overflow: hidden;
}

.features__image {
  object-fit: cover;
}

@media (min-width: 576px) {
  .features__image-container {
    height: 28em;
  }
}

.features__content {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}

.features__heading,
.features__subheading,
.features__description-before-link,
.features__link {
  font-weight: bold;
}

.features__heading,
.features__subheading,
.features__description-title,
.features__description,
.features__list {
  margin-bottom: var(--basic-margin);
}

.features__description-before-link,
.features__button-container {
  margin-bottom: 2.2rem;
}

.features__heading {
  color: var(--accent-color);
  font-size: 0.625rem;
  letter-spacing: 0.125rem;
}

.features__subheading {
  color: var(--text-color);
  font-size: 2.4rem;
  letter-spacing: normal;
  line-height: 1.2;
}

.features__description-title {
  font-size: 1.188rem;
}

.features__description {
  font-size: 1rem;
  color: rgb(187, 187, 187);
}

.features__list {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.features__list-item {
  margin-bottom: 1.4rem;
  list-style-type: none;
  position: relative;
  padding-left: 1.875rem;
}

.features__list-item::before {
  content: "";
  background-image: url(../img/features/done-checkmark.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.features__description-before-link {
  color: var(--light-accent-color);
}

.features__link {
  transition: 400ms ease-out;
}

.features__link:hover {
  padding: 1rem 2.6rem;
}

.features__heading::selection {
  color: var(--text-color);
  background-color: var(--accent-color);
}

.features__subheading::selection, 
.features__subheading-title::selection,
.features__description-title::selection, 
.features__description::selection,
.features__list-item::selection,
.features__link::selection  {
  color: var(--body-background-color);
  background-color: var(--text-color);
}

.features__description-before-link::selection  {
  color: var(--text-color);
  background-color: #c9b7a4;
}

@media (min-width: 768px) {
  .features {
    height: 64rem;
    align-items: center;
    flex-direction: row;
    justify-content: right;
  }

  .features__content {
    justify-content: center;
    width: 50%;
    height: inherit;
    z-index: 1;
    background-color: var(--body-background-color);
  }

  .features__image-container {
    height: inherit;
    display: block;
    position: absolute;
  }

  .features__image {
    position: relative;
    top: 0;
    left: -8%;
    height: 100%;
  }

  .features__subheading {
    width: 90%;
    font-size: 3.125rem;
  }
}

@media (min-width: 990px) {
  .features__subheading {
    width: 100%;
    font-size: 3.8em;
  }

  .features__description {
    width: 96%;
  }
}

@media (min-width: 1200px) {
  .features {
    height: 60rem;
  }

  .features__image {
    width: 77vw;
    left: -6%;
    transition: ease 500ms;
  }

  .features__image:hover {
    transform: scale(1.1);
  }
}

@media (min-width: 1400px) {
  .features__image {
    width: 67vw;
    left: -3%;
  }

  .features__content-wrapper {
    padding: 0 7%;
  }
}

@media (min-width: 1500px) {
  .features__image {
    width: 60vw;
    left: -1%;
  }
}