.newsarticles{
    background-image: url("../img/newsarticles/bg-news.svg");
    padding: 120px 0px;
    font-size: 16px;
    line-height: 24.48px;
    min-width: 320px;

}

.newsarticles__block-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.articles__text {
    flex: 1;
    margin-right: 20px;
}

.articles__image{
    max-width: 50%;
    height: auto;
    border-top-right-radius: 300px;
    border-top-left-radius: 0px;
}

.articles__header{
    color: var(--text-color);
    font-size: 62px;
    font-weight: 600;
    line-height: 74.4px;
    text-align: left;
}

.articles__subheader{
    color: var(--accent-color);
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 15.4px;
    text-align: left;
}

.articles__header-description{
    color: var(--accent-text-color);
    font-size: 19px;
    font-weight: 500;
    line-height: 26.03px;
    text-align: left;
}

.articles__publication-date{
    color: var(--light-accent-color);
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 15.4px;
    text-align: left;

}

.articles__second-subheader{
    color: var(--text-color);
    font-size: 26px;
    font-weight: 600;
    line-height: 36.4px;
    text-align: left;
}

.articles__second-subheader-description{
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24.48px;
    text-align: left;
}