.catalogs {
  background-color: var(--secondary-background-color);
  padding: 90px 20px;
  border-bottom: 2px solid var(--text-color);
}

.catalogs__container {
  padding-bottom: 45px;
}

.catallogs__collections-carousel {
  display: flex;
  align-items: center;
  padding: 20px 0 45px;
}

.catalogs__title {
  font-family: "Manrope";
  font-style: normal;
  color: var(--accent-color);
  align-self: flex-start;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.catalogs__description {
  font-size: 19px;
  font-weight: 500;
  line-height: 26.03px;
  text-align: left;
  margin-top: 10px;
}

.catalogs__catalog-name {
  font-size: 22px;
  margin-top: 10px;
}

.catalogs__catalog-description {
  font-size: 16px;
  margin-top: 10px;
}

.catalogs__description {
  color: var(--accent-text-color);
}

.catalogs__list-container {
  padding-top: 20px;
}

.catalogs__subtitle {
  color: var(--text-color);
}

.catalogs__catalog-description {
  color: var(--secondary-text-color);
  font-size: 16px;
  margin-top: 10px;
}

.catalogs__pdf-icon {
  width: fit-content;
  fill: var(--light-accent-color);
  margin-right: 10px;
}

.catalogs_link-download {
  display: inline-flex;
  align-content: flex-start;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 25px;
  text-align: left;
  margin-top: 10px;
}

.catalogs__our-store-button {
  color: var(--text-color);
  display: flex;
  width: fit-content;
  align-content: flex-start;
  margin-top: 20px;
  padding: 15px;
  font-weight: 800;
  letter-spacing: 2px;
}

.catalogs__catalogs-list-delimiter {
  height: 31px;
}

.collections-carousel__track-container {
  overflow: hidden;
  width: 100%;
}

.collections-carousel__track {
  list-style-type: none;
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.collections-carousel__slide {
  flex: 0 0 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.collections-carousel__image {
  width: 100%;
  height: auto;
}

.collections-carousel__text {
  margin-top: 10px;
}

.collections-carousel__name {
  margin: 5px 0;
}

.collections-carousel__collection,
.collections-carousel__year {
  margin: 2px 0;
}

/* Responsive Styles */
@media screen and (min-width: 320px) {
  .collections-carousel__slide {
    flex: 0 0 100%;
  }
}

@media screen and (min-width: 770px) {
  .catalogs__container {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
  .collections-carousel__slide {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 1000px) {
  .collections-carousel__slide {
    flex: 0 0 24%;
  }
}

.collections-carousel__collection {
  color: var(--light-accent-color);
  font-size: 10px;
  font-weight: 800;
}