.features {
  display: flex;
  flex-direction: column;
}

.features__image-container,
.features__content {
  width: 100%;
}

.features__image {
  height: 14.8rem;
  object-fit: cover;
  margin-bottom: 2em;
}

.features__content {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}

.features__heading,
.features__subheading,
.features__description-link,
.features__link {
  font-weight: bold;
}

.features__heading,
.features__subheading,
.features__description-title,
.features__description,
.features__list,
.features__description-link {
  margin-bottom: var(--basic-margin);
}

.features__heading {
  color: var(--accent-color);
  font-size: 0.625rem;
  letter-spacing: 0.125rem;
}

.features__subheading {
  color: var(--text-color);
  font-size: 2.4rem;
  letter-spacing: normal;
  line-height: 1.2;
}

.features__description-title {
  font-size: 1.188rem;
}

.features__description {
  font-size: 1rem;
  color: rgb(187, 187, 187);
}

.features__list {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
}

.features__list-item {
  margin-bottom: 1.4rem;
  list-style-type: none;
  position: relative;
  padding-left: 1.875rem;
}

.features__list-item::before {
  content: "";
  background-image: url(../img/features/done-checkmark.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.features__description-link {
  color: var(--light-accent-color);
}
