.newsarticles{
    background-image: url("../img/newsarticles/bg-news.svg");
    padding: 120px 0px;
    font-size: 16px;
    line-height: 24.48px;
    min-width: 320px;
    background-size: cover;
    background-position: center right;
    color: #ffffff;

}

.newsarticles__block-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.articles__text, .articles__image-wrapper {
    flex: 1;
    max-width: 50%;
    box-sizing: border-box; /* Include padding in width calculation */
}

.articles__text {
    margin-right: 20px;
}

.articles__text-wrapper {
    padding-left: 30px;
    padding-right: 30px;
}

.articles__subheader{
    color: var(--accent-color);
    font-size: 10px;
    font-weight: 700; /* was 800*/
    letter-spacing: 2px;
    line-height: 15.4px;
}

.articles__header{
    color: var(--text-color);
    font-size: 62px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 74.4px;
    margin-bottom: 20px;
}

.articles__header-description{
    color: var(--accent-text-color);
    font-size: 19px;
    font-weight: 500;
    line-height: 26.03px;
    margin-bottom: 30px;
}

.articles__publication-date{
    color: var(--light-accent-color);
    font-size: 10px;
    font-weight: 800;
    margin-bottom: 10px;
    letter-spacing: 2px;
    line-height: 15.4px;
}

.articles__second-subheader{
    color: var(--text-color);
    font-size: 26px;
    font-weight: 600;
    line-height: 36.4px;
    margin-bottom: 10px;
}

.articles__second-subheader-description{
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24.48px;
    margin-bottom: 20px;
}

.articles__image-wrapper {
    padding-left: 30px;
    padding-right: 30px;
}

.articles__image{
    width: 100%;
    height: auto;
    border-top-right-radius: 300px;
    border-top-left-radius: 0px;
    display: block;
    
}

.articles__spacer {
    height: 40px; /* або 75px в залежності від розміру */
    background-color: transparent;
}

.newsarticles a {
    color: #ffffff; /* White color for anchor text */
}

.newsarticles a:hover {
    color: #ffffff; /* Optional: lighter color on hover for better UX */
    text-decoration: underline; /* Optional: underline on hover to indicate interactivity */
}