.about-us{
    background-color:var(--secondary-background-color);
    padding:90px 24px;
}
.about-us__title{
    font-size: 10px;
    font-weight: 800;
    letter-spacing:2px;
}

.about-us__header{
    justify-content:flex-start;
    font-size: 40px;
    margin-top: 20px;
    font-weight:600;
    line-height:48px
}
.about-us__description{
    font-size: 19px;
    margin-top: 25px;
}
.about-us__details{
    margin-top: 50px;
}
.about-us__subtitle{
    font-size: 30px;
    font-weight:400

}
.about-us__text{
    font-size:16px;
    color: var(--gray-text-color);
    margin-top: 25px;
    line-height:24.48px;
}
.stats__header{
    font-size: 40px;
    font-weight:600
    
}
.stats__description{
    color:var(--gray-text-color);
    margin-top:25px ;
}
.stats__plus{
    color:var(--accent-color)
}
.stats__item{
    border: 1.6px solid #444;
    padding: 27px;
}
.margin-stats__item{
    margin-top: 50px;
}

.stats__item_radius{
    border-top-right-radius: 100px ;
}
.about-us__text-container{
    display: flex;
    flex-direction: column;
    margin-left: -15;
    margin-right: -15;

}
.about-us__statistics{
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

