<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lighting Design Studio</title>
    <link
      rel="shortcut icon"
      href="img/global/global.page_icon.png"
      type="image/x-icon"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <header class="header-hero">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.header-hero.partial.html"
      ></section>
    </header>
    <main>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.about-us.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.features.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.get-quote.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.projects.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.collections.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.catalogs.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.newsarticles.partial.html"
      ></section>
    </main>
    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
    <script src="js/index.js"></script>
  </body>
</html>
